<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" shutdownHook="disable">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ABSOLUTE} %-5level [%t] %c{1.} - %m%n" charset="GBK"/>
        </Console>
        <RollingFile name="RollingFile" fileName="logs/app.log"
                filePattern="logs/$${date:yyyy-MM}/app-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d{ABSOLUTE} %-5level [%t] %c{1.} - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="100"/>
        </RollingFile>
        <RollingRandomAccessFile name="XlinkLog"
                fileName="logs/xlink.log" filePattern="logs/$${date:yyyy-MM}/xlink.log.%d{yyyy-MM-dd}.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %p %m%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
            <DefaultRolloverStrategy max="100"/>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <logger name="cn.xlink" level="debug" includeLocation="true" additivity="false">
            <appender-ref ref="XlinkLog"/>
        </logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile" level="debug"/>
        </Root>
    </Loggers>
</Configuration>
